
.pentagon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem
}
.pentagon-image {
    position: absolute;
    z-index: -2;
    height: 250px;
    width: 250px
}
.icons-container {
    position: absolute;
    height: 250px;
    width: 250px
}
.icon-image-one {
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.icon-image-two {
    position: absolute;
    top: 30%;
    left: -40px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.icon-image-three {
    position: absolute;
    top: 30%;
    left: calc(100% - 40px);
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.icon-image-four {
    position: absolute;
    bottom: -40px;
    left: 5%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.icon-image-five {
    position: absolute;
    bottom: -40px;
    left: calc(80% - 40px);
    width: 80px;
    height: 80px;
    cursor: pointer;
}

@media (min-width: 400px) {
    .pentagon-image {
        height: 313px;
        width: 329px
    }
    .icons-container {
        height: 313px;
        width: 329px
    }
    .icon-image-one {
        top: -50px;
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
    }
    
    .icon-image-two {
        top: 30%;
        left: -50px;
        width: 100px;
        height: 100px;
    }
    
    .icon-image-three {
        top: 30%;
        left: calc(100% - 50px);
        width: 100px;
        height: 100px;
    }
    
    .icon-image-four {
        bottom: -50px;
        left: 5%;
        width: 100px;
        height: 100px;
    }
    
    .icon-image-five {
        bottom: -50px;
        left: calc(80% - 50px);
        width: 100px;
        height: 100px;
    }
}